<div class="home-page">


  <main>
    <section class="section">
      <app-hero-section></app-hero-section>
    </section>

    <section id="how-it-works" class="section section--how-it-works">
      <app-how-it-works></app-how-it-works>
    </section>

    <section id="categories" class="section section--categories">
      <app-categories></app-categories>
    </section>

    <section id="inspiration" class="section section--ai-inspiration">
      <app-ai-inspiration></app-ai-inspiration>
    </section>

    <section id="featured" class="section section--featured-providers">
      <app-featured-providers></app-featured-providers>
    </section>

    <section id="testimonials" class="section section--testimonials">
      <app-testimonials></app-testimonials>
    </section>

    <section class="section section--cta">
      <app-cta-section></app-cta-section>
    </section>
  </main>

  <app-footer></app-footer>
</div>

